## Importing necessary libraries and tools in cell below:

In [15]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
!pip install bs4
!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

print('Libraries imported.')

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=9771670cbb13ac8b50ca4baf2e20367123086aa271fa783af12b64bea0c17564
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: geopy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geopy) (1.50)
Libraries imported.

In [10]:
import json
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup

## Entering the url in cell below:

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [8]:
data=requests.get(url).text

In [16]:
html_data_parsed = BeautifulSoup(data,"html5lib")

In [121]:
for row in html_data_parsed.find("tbody").find_all("tr"):
    col = row.find_all("td")
#print(html_data_parsed.prettify())

In [122]:
TwoTables=html_data_parsed.find_all("table")
#print(TwoTables[0]) #first column is the table that we are looking for.

Below we fill our dataframe table with a for loop.

In [114]:
info_table = pd.DataFrame(columns=["Postal Code", "Borough", "Neighbourhood"])
for row in TwoTables[0].find("tbody").find_all("tr"):
    col = row.find_all("td")
    if len(col)>0 : #Because we observed that first index  of col is null.
        p_code = col[0].text
        boro = col[1].text
        neigh = col[2].text
    else: continue
    #print(p_code, boro, neigh)
    info_table = info_table.append({"Postal Code":p_code, "Borough":boro, "Neighbourhood":neigh}, ignore_index=True)
info_table['Postal Code']=info_table['Postal Code'].replace({'\\n':''},regex=True) 
info_table['Borough']=info_table['Borough'].replace({'\\n':''},regex=True)
info_table['Neighbourhood']=info_table['Neighbourhood'].replace({'\\n':''},regex=True)
info_table

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Now, we need to drop rows with 'Not assigned' value. 
Doing it for the Borough column also takes care of the Neighbourhood columns as well. 
And also we need to reset the index of the dataframe.

In [116]:
info_table['Borough'].replace('Not assigned', np.nan, inplace=True)
info_table.dropna(subset=['Borough'],inplace=True)
info_table=info_table.reset_index(drop=True)
info_table.tail()

,Postal Code,Borough,Neighbourhood
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Lastly we are required to show the shape of our dataframe. As below:

In [117]:
info_table.shape

(103, 3)

Thank you for your consideration.

End of the Part_1 of Week-3 Assignment.