## Please Go to the Starting Point of Part-2 of the Project.

In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
!pip install bs4
!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

print('Libraries imported.')

Requirement already satisfied: bs4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: geopy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geopy) (1.50)
Libraries imported.

In [2]:
import json
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup

## Entering the url in cell below:

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [4]:
data=requests.get(url).text

In [5]:
html_data_parsed = BeautifulSoup(data,"html5lib")

In [6]:
for row in html_data_parsed.find("tbody").find_all("tr"):
    col = row.find_all("td")
#print(html_data_parsed.prettify())

In [7]:
TwoTables=html_data_parsed.find_all("table")
#print(TwoTables[0]) #first column is the table that we are looking for.

Below we fill our dataframe table with a for loop.

In [8]:
info_table = pd.DataFrame(columns=["Postal Code", "Borough", "Neighbourhood"])
for row in TwoTables[0].find("tbody").find_all("tr"):
    col = row.find_all("td")
    if len(col)>0 : #Because we observed that first index  of col is null.
        p_code = col[0].text
        boro = col[1].text
        neigh = col[2].text
    else: continue
    #print(p_code, boro, neigh)
    info_table = info_table.append({"Postal Code":p_code, "Borough":boro, "Neighbourhood":neigh}, ignore_index=True)
info_table['Postal Code']=info_table['Postal Code'].replace({'\\n':''},regex=True) 
info_table['Borough']=info_table['Borough'].replace({'\\n':''},regex=True)
info_table['Neighbourhood']=info_table['Neighbourhood'].replace({'\\n':''},regex=True)
info_table

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Now, we need to drop rows with 'Not assigned' value. 
Doing it for the Borough column also takes care of the Neighbourhood columns as well. 
And also we need to reset the index of the dataframe.

In [9]:
info_table['Borough'].replace('Not assigned', np.nan, inplace=True)
info_table.dropna(subset=['Borough'],inplace=True)
info_table=info_table.reset_index(drop=True)
info_table.tail()

,Postal Code,Borough,Neighbourhood
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Lastly we are required to show the shape of our dataframe. As below:

In [10]:
info_table.shape

(103, 3)

End of the Part_1 of Week-3 Assignment.

## The Starting Point of Part-2 of the Week-3 Project is Here.

I choose the csv solution way in this part for accuracy.

In [12]:
adress='https://cocl.us/Geospatial_data'
dframe=pd.read_csv(adress)
dframe

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [24]:
for i in info_table['Postal Code'].index:
    info_table['Latitute']=None
    info_table['Longitude']=None
info_table

,Postal Code,Borough,Neighbourhood,Latitute,Longitude
0,M3A,North York,Parkwoods,None,None
1,M4A,North York,Victoria Village,None,None
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",None,None
3,M6A,North York,"Lawrence Manor, Lawrence Heights",None,None
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",None,None
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",None,None
99,M4Y,Downtown Toronto,Church and Wellesley,None,None
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",None,None
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",None,None
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",None,None

In [27]:
for i in dframe['Postal Code'].index:
    for j in info_table['Postal Code'].index:
        if dframe['Postal Code'][i]==info_table['Postal Code'][j]:
            info_table['Latitute'][j]=dframe['Latitude'][i]
            info_table['Longitude'][j]=dframe['Longitude'][i]
info_table.head()

,Postal Code,Borough,Neighbourhood,Latitute,Longitude
0,M3A,North York,Parkwoods,43.7533,-79.3297
1,M4A,North York,Victoria Village,43.7259,-79.3156
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6543,-79.3606
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.7185,-79.4648
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.6623,-79.3895

We have equipped our initial table with two additional columns and filled them with correct coordinate values by pair matching with dframe table.

End of the Part_2 of Week3 Assignment.

Thank you for your consideration.